@use "global" as *;

.l-inner {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: myrem($inner-sp + $padding-sp * 2);
  padding-right: myrem($padding-sp);
  padding-left: myrem($padding-sp);
  @include mq("md") {
    max-width: myrem($inner-pc + $padding-pc * 2);
    padding-right: myrem($padding-pc);
    padding-left: myrem($padding-pc);
  }
}
